.project-section {
  position: relative !important;
  padding-top: 100px !important;
  padding-bottom: 30px !important;
  background-image: url("../../essets/main-bg2.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.porject__cardSection {
  width: 70%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.project__text{
  margin-left: 20px;
  border: 2px solid #000 !important;

}
.card-body {
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  width: 80%;
  left: 30px;
  transform: scale(0);
  transition: all 0.5s linear;
  top: 40px !important;
  background-color: black;
}
.project-card:hover .card-body {
  position: absolute;
  width: 80%;
  left: 30px;
  top: 20px;
  transform: scale(1);
}

.project-card {
  position: relative;
  /* border: 2px solid #000 !important; */
  padding-top: 10px;
}

.card__image {
  top: 0;
  left: 0;
  width: 300px !important;
  z-index: 1;
  transform: scale(1);
  transition: all 0.5s linear;
  /* border: 2px solid #000 !important; */
}
.project-card:hover .card__image {
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.5s linear;
  filter: blur(2px);
  backdrop-filter: brightness(60%);
}
