.about__section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
  background-color: var(--background-color);
   min-height: 100vh;
   object-fit: contain;
  color: var(--text-color);

}
.quoteCard__view{
  margin-bottom: 150px;
}
.blockquote {
  color: var(--text-color);
  background-color: var(--background-color);
 
}
.tech-icons {
  font-size: 4.5em;
  margin: 15px;
  padding: 25px;
  opacity: 0.93;
  border: 1.7px solid var(--main-color);
  border-radius: 5px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(150%);
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  overflow: hidden;
  transition: all 0.4s ease 0s;
  color: var(--text-color);
}
.tech-icons .html-icon{
  color: #E94537;
}
.tech-icons .css-icon{
  color: #254BDD;
}
.tech-icons .bootstrap-icon{
  color: #7B49F2;
}
.tech-icons .javascript-icon{
border-radius: 5px;
  background-color: #EFD84B;
}
.tech-icons .react-icon{
  color: #61D3F3;
  background-color: #212121;
  border-radius: 5px;
}
.tech-icons .firebase-icon{
  color: #F2A643;
}
.tech-icons .html-icon{
  color: #E94537;
}
.tech-icons .visual-icon{
  color: #3787CB;
}



@media (max-width: 767px) {
  .tech-icons {
    margin: 10px;
  }
}

.tech-icons:hover {
  transform: scale(1.05);
  overflow: hidden;
  border: 2.2px solid var(--main-color);
  filter: contrast(200%);

}

.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}

.about-activity {
  list-style: none;
  text-align: left;
  padding-left: 1px;
  color: var(--text-color) ;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0;
  }
}
