.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
/* 
#tsparticles {
  position: fixed;
} */
.home__header {
  padding-left: 4em;
  display: flex;
}

.home__section {
  background-color: #98c5e9;
  height: 100vh;
  color: var(--text-color);
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home__content {
  padding: 9rem 0 0 0;
  color: var(--text-color);
  text-align: left;
}

.heading {
  font-size: 2.4em;
}

.main__name {
  color: var(--main-color);
  font-family: Noto Serif;
  font-style: italic;
}

.Typewriter__wrapper {
  font-size: 2em;
  color: var(--main-color);
  font-weight: 600;
  font-family: fantasy;
}

.Typewriter__cursor {
  font-size: 2.4em;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em;
    font-weight: 500;
    position: absolute;
  }

  .Typewriter__cursor {
    display: none;
  }
}

.myAvtar {
  justify-content: center;
  padding-top: 9em;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.home__mainBtn {
  margin-top: 100px;
  outline: none;
  border: 1px solid #1c6df5;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #4c3270;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s linear;
}
.home__mainBtn:hover {
  border: 0.5px solid var(--main-color);
  color: #fff;
  transform: scale(1.1);
}
.home__carousel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
}
.slider__scroll {
  border-radius: 10px;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__IconsContainer {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-250px);
  width: 80%;
  height: 70%;
  background-color: rgba(57, 56, 78, 0.9);
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  color: #fff;
}
.slider__scroll:hover .home__IconsContainer {
  transform: translateY(0px);
  cursor: pointer;
}
.home__techIcons {
  width: 80%;
  height: 80%;
  border: 1.7px solid #ff5733;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  transition: all 0.4s ease 0s;
}
.home__techIcons a {
  color: #fff;
  font-size: 40px;
}
.home__techIcons a:hover {
  color: var(--main-color);
}

.home__techIcons:hover {
  transform: scale(1.05);
  overflow: hidden;
  border: 2.2px solid #ff5733;
  filter: contrast(150%);
}

.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}

@media (max-width: 480px) {
  .home__header {
    display: flex;
    font-size: 9px;
  }
  .home__carousel {
    /* display: none; */
    top: 60%;
    left: 0;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    margin: 0 1.5rem;
  }
  .home__content {
    display: flex !important;
    justify-content: center !important;
  }
  .home__mainBtn {
    margin-top: 50px;
    width: 150px !important;
    font-size: 12px;
    height: 50px;
  }
}
