.header {
  width: 100%;
  height: 100px;
}
.header__backColor {
  background-color: #2A6893;
}
a {
  text-decoration: none;
  color: #fff;
}

.header__container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logo {
  width: 100px;
  background-color: #fff;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
} */
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.header__Collection {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 10px;
}



.header__iconCollection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon__listItem {
  padding: 0 15px;
  font-size: 20px;
}
.header__icon__listItem:first-child {
  border-left: 2px solid #ccc;
  padding-left: 15px;
}

/* --------Hover start---------- */

.header__listItem {
  position: relative;
  display: block;
  color: #fff;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px;
  transition: .5s;
  
}
.header__listItem a p{
  position: relative;
  z-index: 1;
}
.header__listItem:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  
  border-top: 2px solid #132e41;
  border-bottom: 2px solid #132e41;
  transform: scaleY(2);
  opacity: 0;
  transition: .5s;
  /* z-index: -1; */
}
.header__listItem:hover:before{
  transform: scaleY(1);
  border-radius: 15px;
  opacity: 1;
}
.header__listItem:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
 background-color: #132e41;
  transform: scaleY(0);
  opacity: 0;
  transition: .5s;
  /* z-index: -1; */
}
.header__listItem:hover:after{
  transform: scaleY(1);
  color: #fff;
  border-radius: 15px;

  opacity: 1;
}

/* --------Hover end---------- */
