.footer {
  background-color: #212038;
  height: 60px;
  padding: 5px 0;
  width: 100%;
}

.footer-copywright {
  padding-top: 5px;
  text-align: center;
}

.footer-body {
  text-align: center;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center;
  }

  .footer-body {
    text-align: center;
  }
}

.footer h3 {
  font-size: 1em;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  /* margin-right: -50px; */
  padding: 0 50px;
  height: 100%;
  /* width: 50%; */
  /* width: 45px; */
  /* border: 1px solid #fff; */
}
.footer-icons li {
  transform: translateY(0px);
  padding-top: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s linear;
  list-style: none;
}
.footer-icons li:hover {
  transform: translateY(-10px);
}

.blockquote-footer {
  color: #a588c0;
}
